
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header {
  background-color: #FFF8F3;
  background: url("../images/developer.png"), url("../images/header_bg.png"), #FFF8F3;
  background-repeat: no-repeat;
  background-position: left top, right bottom;
  padding-top: 50px;
}
nav {
    width: 71% ;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h2 {
    font-weight: 900;
    font-size: 45px;
}
.color-orange {
    color: #FD6E0A;
}
nav .menu {
    list-style: none;
    display: flex;
    gap: 51px;
    align-items: center;
}
nav .menu li a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}
.btn {
    padding: 18px 35px;
    background-color: #FD6E0A;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}
.btn:hover {
    background-color: #e65c00;
}

/* Banner section  */
#banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 47px 38px 0 230px;
}
#banner .banner-content {
    max-width: 585px;
}
#banner .banner-content h2 {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #474747;
}
#banner .banner-content h1 {
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #181818;
}
#banner .banner-content p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
    color: #757575;
}
#banner .banner-img img {
    max-width: 585px;
    vertical-align: middle;
}

/* About section */
.about{
    padding-top: 130px;
}
.about .about-container {
    width: 71%;
    max-width: 1140px;
    background-color: #FFF8F3;
    margin: 0 auto;
    text-align: center;
    padding: 131px 156px;
}
.about .about-container h2 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #181818;
}
.about .about-container p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #757575;
    line-height: 30px;
}
.about .about-container h2 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #181818;
}
.about .about-container .about-info {
    display: flex;
    justify-content: space-around;

}
.about .about-container .info-card p {
    font-size: 20px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 0px;

}
.about .about-container .info-card h4 {
    font-size: 20px;
    color: #474747;

}